
# Loads default set of integrations. Do not remove.
default_config:

# https://www.home-assistant.io/integrations/logger/
logger:
  default: info
  logs:
    custom_components.chore_helper: debug
debugpy:
  start: true
  wait: true
